<div class="col-xs-12" >
  <form #f="ngForm" class="col-xs-9 col-xs-offset-6" style="margin-bottom: 10px; padding-left: 60px;" (ngSubmit)="onSubmit(f)">

    <div class="col-xs-3 inputs">
      <select class="col-xs-12 input" name="action" [(ngModel)]="action">
        <option value="-1" disabled selected>Transaction type</option>  
        <option value="payment">Payment</option>
        <option value="credit">Credit</option>
        <option value="">All</option>  
      </select>
    </div>

    <div class="col-xs-2 inputs">
        <select class="col-xs-12 input" name="currencyCode" [(ngModel)]="currencyCode">
            <option value="-1" disabled selected>Currency</option>  
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="JPY">JPY</option>
            <option value="">All</option>  
          </select>
    </div>

    <div class="col-xs-2 inputs">
        <select class="col-xs-12 input" name="orderBy" [(ngModel)]="orderBy">
            <option value="-1" disabled selected>Order by</option>  
            <option value="date">Ascending</option>
            <option value="-date">Descending date</option>
          </select>
    </div>

    <button class="next" type="submit" [disabled]="!f.valid">
      Search
    </button>
  </form>
</div>

<div style="padding: 20px;">
  <div class="table col-xs-12">
    <div class="table-name col-xs-12">
      <div class="col-xs-2">Name</div>
      <div class="col-xs-2">Brand</div>
      <div class="col-xs-2">Last 4 digits</div>
      <div class="col-xs-2">Transaction type</div>
      <div class="col-xs-2 amount">Amount</div>
      <div class="col-xs-2">Currency</div>
    </div>


    <div class="panel-group col-xs-12" id="accordion">

      <div *ngIf="loading">
        <app-loader></app-loader>
      </div>

      <div class="no-results" *ngIf="!loading && transactions.length == 0">
        No transactions available
      </div>

      <div class="panel panel-default" *ngFor="let transaction of transactions; let i = index; ">
        <div class="panel-heading" (click)="onToggle(i)" [class.selected]="selected === i">
          <h4 class="panel-title">
            <a class="table-row col-xs-12 accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{i}}">
              <div class="col-xs-2"> {{ transaction.card.holderName }}</div>
              <div class="col-xs-2"> {{ transaction.brandId }} </div>
              <div class="col-xs-2 last4"> XXXX {{ transaction.card.lastFourDigits }} </div>
              <div class="col-xs-2"> {{ transaction.action }} </div>
              <div class="col-xs-2 amount"> {{ transaction.amount |number:'0.2'}} </div>
              <div class="col-xs-2"> {{ transaction.currencyCode }} </div>
            </a>
          </h4>
        </div>

        <div class="table-content panel-collapse collapse" id="collapse_{{i}}">
          <div class="panel-body">
            <div class="col-xs-12">
              <div class="col-xs-12">
                <div class="col-xs-6">
                  <div class="col-xs-3 blue-content">ID: </div>
                  <div class="col-xs-9 content"> {{ transaction.id }} </div>
                </div>
                <div class="col-xs-6">
                  <div class="col-xs-3 blue-content">First 6 digits: </div>
                  <div class="col-xs-9 content"> {{ transaction.card.firstSixDigits }} </div>
                </div>
              </div>

              <div class="col-xs-12">
                <div class="col-xs-6">
                  <div class="col-xs-3 blue-content">Tracking code: </div>
                  <div class="col-xs-9 content"> {{ transaction.trackingCode }} </div>
                </div>
                <div class="col-xs-6">
                  <div class="col-xs-3 blue-content">Expiry month: </div>
                  <div class="col-xs-9 content"> {{ transaction.card.expiryMonth }} </div>
                </div>
              </div>

              <div class="col-xs-12">
                <div class="col-xs-6">
                  <div class="col-xs-3 blue-content">Brand ID: </div>
                  <div class="col-xs-9 content"> {{ transaction.brandId }} </div>
                </div>
                <div class="col-xs-6">
                  <div class="col-xs-3 blue-content">Expiry year: </div>
                  <div class="col-xs-9 content"> {{ transaction.card.expiryYear }} </div>
                </div>
              </div>
            </div>
          </div>

        </div>






      </div>
    </div>
  </div>