.table {
    background: #f6f7fb;
}

.panel-group {
    margin-bottom: 0;
}

.panel-heading {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 14px;
    color: #4a4a4a;
    border-top: 1px solid #e8ebf3;
}

.panel, .panel-default > .panel-heading {
    background-color: #f6f7fb;
    border-radius: 0px;
}

.panel-default, .panel-default>.panel-heading{
    background-color: transparent !important;
    border: none;
    border-color: #e8ebf3;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 14px;
    color: #4a4a4a;
    border-top: 1px solid #e8ebf3;
}

.panel-default {
    background: transparent;
}

.panel-group {
    margin-bottom: 0;
}



.table-name {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14px;
    color: #213d8f;
    text-align: left;
    padding-top: 15px;
}

.table-content, .panel-heading {
    background: #e8ebf3;
}
.panel-heading {
    background: #f6f7fb;
}

.table-row {
    text-transform: capitalize;
}

.table-name div {
    display: inline-block;
}


.panel-group .panel+.panel {
    margin-top: 0px;
}

.panel {
    background-color: transparent;
}
.panel-default {
    box-shadow: none;
    border-color: transparent;
}

.panel-title >a {
    line-height: 3px;
    padding: 0;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 14px;
}

.amount {
    text-align: right;
}

.last4 {
    padding-left: 37px;
}

.panel-title {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}



.panel-default>.panel-heading.selected {
    background: #e8ebf3 !important;
}

.selected .panel-title a { 
    font-family: 'Source Sans Pro' !important;
    font-weight: 600 !important;
    font-size: 16px !important    
}

.blue-content , .content { 
    font-family: 'Source Sans Pro' !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 25px;
    padding: 10px;  
}

.blue-content  {
    color: #213d8f;
}

.next {
    background: #8ec03f;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    color: #f6f7fb;
    font-size: 14px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    box-shadow: none;
}


select {
    background: #f6f7fb;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14px;
    border-radius: 2px;
    border: solid 1px #213d8f;
    color: #213d8f;
    text-align: left;
    padding: 10px;
}

select option {
    color: #909ec7;
    background: #f6f7fb;
}

select option:checked,
select option:hover {
    box-shadow: 0 0 10px 100px #e8ebf3 inset;
    color: #213d8f !important;
    background: #e8ebf3 !important;
}



select { 
	display: block;
    background-color: #f6f7fb;
    background-image: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png);
    background-position: right;
    background-repeat: no-repeat;
	appearance: none; 
	-webkit-appearance: none;
    -moz-appearance: none; 
    background-size: 12px;
    background-origin: content-box;
}


select:focus { 
	display: block;
    background-color: #f6f7fb;
    background-image: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_up.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 12px;
	appearance: none; 
	-webkit-appearance: none;
    -moz-appearance: none; 
    background-origin: content-box;
}

/* for IE and Edge */ 
select::-ms-expand { 
	display: none; 
}

.no-results {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    color: #909ec7;
}