/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
    background: #e8ebf3 !important;
    margin-top: 50px;
}
